<div class="pagination">
    <span class="step-links">
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}">
    <button style="background-color:white; border-color:#3E4FB2;">Anterior</button></a>
        {% endif %}
    <span class="current">
     Página {{page.number }} de {{ page.paginator.num_pages }}</span>
    {% if page.has_next %}
      <a href="?page={{ page.next_page_number }}">
    <button style="background-color:white; border-color:#3E4FB2;">Siguiente </button></a>
        {% endif %}
    </span>
</div>
